div {
    width: 100px;
    height:100px;
}
.static{
    position: static;
    background-color: grey;
}
.absolute{
    background-color: deeppink;
    position: absolute;
    top: 50px;
    left: 50px;
}
.relative{
    background-color: yellow;
    position: relative;
    top: 45px;
    left: 42px;
}
.fixed{
    background-color: #0087b1;
    position: fixed;
    top: 50px;
    left: 200px
}
.relative:nth-child(2){
    background-color: springgreen;
    position: relative;
    top: 140px;
    left: 200px;
}
relative > absolute{
    background-color: mediumpurple;
    position: absolute;
    bottom: 0px;
    right: 0px;

}