div.stulpelis {
    width: 100px;
    height: 100px;
    text-align: center;
}
.eilute {
    clear: left;
}
.stulpelis {
    float: left;
}
html, body {
    height: 100%;
}
.gridas {
    grid-area: s;
    height: 100%;
    display: grid;
    grid-template-areas:
        'sonas headeris headeris'
        'sonas main reklama'
        'sonas footeris footeris';
    grid-template-rows: 50px auto 100px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 5px;
}
.main {
    grid-area: main;
}
.kita {
    grid-area: kita;
}
.footeris {
    grid-area: footeris;
}
.headeris {
    grid-area: headeris;
}
.reklama {
    grid-area: reklama;
}
.sonas {
    grid-area: sonas;
}


/* Extra maži įrenginiai (telefonai, 600px ir žemiau) */
@media only screen and (max-width: 600px) {
    .cele {
        background-color: #d7aff3;
    }
    .gridas {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas:
            'headeris headeris'
            'sonas kita'
            'footeris footeris';
        grid-template-rows: 50px auto 50px;
        grid-template-columns: 3fr 2fr;
        grid-gap: 5px;
    }
    .main {
        display: none;
    }
    .headeris {
        text-align: center;
    }
    .footeris {
        text-align: center;
    }
    .reklama {
        display:none;
    }
}

/* Maži įrenginiai (statmenos planšetės, ar gulsti telefonai 600px ir aukščiau) */
@media only screen and (min-width: 600px) {
    .cele {
        background-color: #a5f6b8;
    }
    .gridas {
        display: grid;
        grid-template-areas:
            'headeris headeris'
            'sonas main'
            'kita main'
            'footeris footeris';
        grid-template-rows: 50px auto auto 50px;
        grid-template-columns: 2fr 3fr;
        grid-gap: 5px;
    }
    .footeris {
        text-align: center;
    }
    .headeris {
        text-align: center;
    }
    .main {
        display: block;
    }
}

/* Vidutiniai įrenginiai (gulsčios planšetės ar maži laptopai, 768px ir aukščiau) */
@media only screen and (min-width: 768px) {
    .cele {
        background-color: #b7caff;
    }
    .gridas {
        height: 100%;
        display: grid;
        grid-template-areas:
            'sonas headeris'
            'sonas main'
            'kita main'
            'footeris footeris';
        grid-template-rows: 50px auto 900px 50px;
        grid-template-columns: 1fr 4fr;
        grid-gap: 5px;
    }
    .footeris {
        text-align: center;
    }
    .headeris {
        text-align: center;
    }
    .main {
        display: inline;
    }
}

/* Dideli įrenginiai (laptopai, staliniai PC, 992px ir aukščiau) */
@media only screen and (min-width: 992px) {
    .cele {
        background-color: #ffd7a2;
    }
    .gridas {
        display: grid;
        height: 100%;
        grid-template-areas:
        'headeris headeris headeris'
        'sonas main main'
        'sonas main main'
        'kita main main'
        'footeris footeris footeris';
        grid-template-rows: 50px auto 50px 700px 50px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 5px;
    }
    .headeris {
        text-align: center;
    }
    .footeris {
        text-align: center;
    }
    .main {
        display: inline;
    }
}

/* Extra dideli įrenginiai (dideli laptopai ir stalinai PC, 1200px ir aukščiau) */
@media only screen and (min-width: 1200px) {
    .cele {
        background-color: #dcdcdc;
    }
    .gridas {
        height: 100%;
        display: grid;
        grid-template-areas:
        'headeris headeris headeris'
        'sonas main main'
        'kita main main'
        'footeris footeris footeris';
        grid-template-rows: 50px auto 700px 50px;
        grid-template-columns: 1fr 3fr 1fr;
    }
    body > * {
        border: 5px white;
    }
    .headeris {
        text-align: center;
    }
    .footeris {
        text-align: center;
    }
    .main {
        display: inline;
    }
}